<div class="card">
    <div class="card-body">
        <h4 class="titulo">LISTAR TARJETA</h4>
        <table class="table">
            <tbody>
              <tr>
                <td>Jose Flores</td>
                <td>1123232424</td>
                <td>12/24</td>
                <td>
                    <i class="fa-solid fa-pen-to-square text-secondary"></i>
                </td>
                <td>
                    <i class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>    
        </div> 
</div>